nav{
    background-color: steelblue;
}
.container-fluid{
    width:90%;
    margin : 0 auto;
    height: 70%;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    gap: 1em;
}